@model OrderDTO

<h1>Delete Order</h1>

    <form asp-action="DeleteConfirm" asp-route-id="@Model.Id">
        <div class="form-group">
            <label>Item</label>
            <input type="text" class="form-control" value="@Model.Item" disabled>
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input type="number" class="form-control" value="@Model.Quantity" disabled>
        </div>
        <label>CreatedBy</label>
        <input type="text" class="form-control" value="@Model.CreatedBy" disabled>
        </div>
        <div class="form-group">
            <label>OrderedOn</label>
            <input type="datetime" class="form-control" value="@Model.OrderedFor" disabled>
        </div>
        @*<div class="form-group">
            <label>FullPrice</label>
            <input type="number" class="form-control" value="@Model.FullPrice" disabled>
        </div>*@
        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-action="Index">
            <button type="button" class="btn btn-secondary">Cancel</button>
        </a>
    </form>
    <div class="form-group">
